Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/Cloud/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/Cloud/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/VcenterImageDetails.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/VcenterImageDetails.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/cluster_h_a_config.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/nsxt_clusters.go
  go/models/placement_scope_config.go
  go/models/se_mgr_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/cluster_h_a_config.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/nsxt_clusters.go
  go/models/placement_scope_config.go
  go/models/se_mgr_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ControllerProperties.json
  swagger/ControllerProperties.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ControllerProperties.json
  swagger/ControllerProperties.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationProfile/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/ServiceEngineGroup/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationProfile/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/ServiceEngineGroup/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ClusterHAConfig.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/NsxtClusters.java
  java/src/com/vmware/avi/sdk/model/PlacementScopeConfig.java
  java/src/com/vmware/avi/sdk/model/SeMgrEventDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ClusterHAConfig.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/NsxtClusters.java
  java/src/com/vmware/avi/sdk/model/PlacementScopeConfig.java
  java/src/com/vmware/avi/sdk/model/SeMgrEventDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/debug_service_engine.go
  go/models/http_hdr_value.go
  go/models/s_s_l_client_request_header.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/debug_service_engine.go
  go/models/http_hdr_value.go
  go/models/s_s_l_client_request_header.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/DebugServiceEngine/index.html
  docs/HTTPPolicySet/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/DebugServiceEngine/index.html
  docs/HTTPPolicySet/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/DebugServiceEngine.java
  java/src/com/vmware/avi/sdk/model/HTTPHdrValue.java
  java/src/com/vmware/avi/sdk/model/SSLClientRequestHeader.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/DebugServiceEngine.java
  java/src/com/vmware/avi/sdk/model/HTTPHdrValue.java
  java/src/com/vmware/avi/sdk/model/SSLClientRequestHeader.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/sensitive_log_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/sensitive_log_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AnalyticsProfile.json
  swagger/AnalyticsProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AnalyticsProfile.json
  swagger/AnalyticsProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/AnalyticsProfile/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/AnalyticsProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SensitiveLogProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SensitiveLogProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Update README.md (#1699)
  README.md
Owners: @manojkumarjain

Update README.md (#1699)
  README.md
Owners: @manojkumarjain
