Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/LicenseLedgerDetails.json
  swagger/LicenseLedgerDetails.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/LicenseLedgerDetails.json
  swagger/LicenseLedgerDetails.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
  docs/LicenseLedgerDetails/index.html
  docs/ServiceEngineGroup/index.html
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
  docs/LicenseLedgerDetails/index.html
  docs/ServiceEngineGroup/index.html
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BurstResource.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/CumulativeLicense.java
  java/src/com/vmware/avi/sdk/model/LicenseInfo.java
  java/src/com/vmware/avi/sdk/model/LicenseTierUsage.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BurstResource.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/CumulativeLicense.java
  java/src/com/vmware/avi/sdk/model/LicenseInfo.java
  java/src/com/vmware/avi/sdk/model/LicenseTierUsage.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Fix swallowed errors in session package
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/ApplicationPersistenceProfile.json
  swagger/ApplicationPersistenceProfile.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugController.json
  swagger/DebugController.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/ApplicationPersistenceProfile.json
  swagger/ApplicationPersistenceProfile.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugController.json
  swagger/DebugController.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationPersistenceProfile/index.html
  docs/BotMapping/index.html
  docs/DebugController/index.html
  docs/DebugServiceEngine/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationPersistenceProfile/index.html
  docs/BotMapping/index.html
  docs/DebugController/index.html
  docs/DebugServiceEngine/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Allow Clients to inject their own HTTP client (#1750)
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Allow Clients to inject their own HTTP client (#1750)
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients (#1776)
  go/models/a_l_b_services_config.go
  go/models/app_signature_config.go
  go/models/bot_mapping_rule.go
  go/models/bot_mapping_rule_match_target.go
  go/models/case_config.go
  go/models/event_details.go
  go/models/http_cookie_persistence_profile.go
  go/models/ip_reputation_config.go
  go/models/portal_feature_opt_in.go
  go/models/saas_licensing_info.go
  go/models/sec_mgr_u_a_event_details.go
  go/models/user_agent_d_b_config.go
  go/models/waf_crs_config.go
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients (#1776)
  go/models/a_l_b_services_config.go
  go/models/app_signature_config.go
  go/models/bot_mapping_rule.go
  go/models/bot_mapping_rule_match_target.go
  go/models/case_config.go
  go/models/event_details.go
  go/models/http_cookie_persistence_profile.go
  go/models/ip_reputation_config.go
  go/models/portal_feature_opt_in.go
  go/models/saas_licensing_info.go
  go/models/sec_mgr_u_a_event_details.go
  go/models/user_agent_d_b_config.go
  go/models/waf_crs_config.go
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ServiceEngineGroup/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ServiceEngineGroup/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/VsGs.json
  swagger/VsGs.yaml
  swagger/avi_global_spec.yaml
  swagger/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/VsGs.json
  swagger/VsGs.yaml
  swagger/avi_global_spec.yaml
  swagger/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ServiceEngine/index.html
  docs/VsGs/index.html
  docs/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ServiceEngine/index.html
  docs/VsGs/index.html
  docs/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/Image/index.html
  docs/ServiceEngineGroup/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/Image/index.html
  docs/ServiceEngineGroup/index.html
Owners: @manojkumarjain

Auto updated assets for go models and clients eng (#1780)
  go/clients/avi_client.go
  go/clients/vsgs_client.go
  go/examples/test/tests_go_clients.py
  go/models/config_version_status.go
  go/models/gslb_site_cfg_sync_info.go
  go/models/image.go
  go/models/image_event.go
  go/models/image_event_map.go
  go/models/image_upload_ops_status.go
  go/models/service_engine_group.go
  go/models/vs_gs.go
  go/models/vs_gs_api_response.go
Owners: @mayank-avinetworks, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
