Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ServiceEngineGroup/index.html
  docs/VIMgrSEVMRuntime/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ServiceEngineGroup/index.html
  docs/VIMgrSEVMRuntime/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ClusterHAConfig.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/PlacementScopeConfig.java
  java/src/com/vmware/avi/sdk/model/VIMgrSEVMRuntime.java
  java/src/com/vmware/avi/sdk/model/VcenterClusterDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ClusterHAConfig.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/PlacementScopeConfig.java
  java/src/com/vmware/avi/sdk/model/VIMgrSEVMRuntime.java
  java/src/com/vmware/avi/sdk/model/VcenterClusterDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/pool_group.go
  go/models/primary_pool.go
  go/models/scheduled_scaling.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_info.go
  go/models/server_auto_scale_policy.go
  go/models/v_i_mgr_s_e_vm_runtime.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/pool_group.go
  go/models/primary_pool.go
  go/models/scheduled_scaling.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_info.go
  go/models/server_auto_scale_policy.go
  go/models/v_i_mgr_s_e_vm_runtime.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/PoolGroup.json
  swagger/PoolGroup.yaml
  swagger/ServerAutoScalePolicy.json
  swagger/ServerAutoScalePolicy.yaml
  swagger/VIMgrSEVMRuntime.json
  swagger/VIMgrSEVMRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/PoolGroup.json
  swagger/PoolGroup.yaml
  swagger/ServerAutoScalePolicy.json
  swagger/ServerAutoScalePolicy.yaml
  swagger/VIMgrSEVMRuntime.json
  swagger/VIMgrSEVMRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/Image/index.html
  docs/PoolGroup/index.html
  docs/ServerAutoScalePolicy/index.html
  docs/VIMgrSEVMRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/Image/index.html
  docs/PoolGroup/index.html
  docs/ServerAutoScalePolicy/index.html
  docs/VIMgrSEVMRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/PoolGroup.java
  java/src/com/vmware/avi/sdk/model/PrimaryPool.java
  java/src/com/vmware/avi/sdk/model/ScheduledScaling.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScaleInInfo.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScaleOutInfo.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScalePolicy.java
  java/src/com/vmware/avi/sdk/model/VIMgrSEVMRuntime.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/PoolGroup.java
  java/src/com/vmware/avi/sdk/model/PrimaryPool.java
  java/src/com/vmware/avi/sdk/model/ScheduledScaling.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScaleInInfo.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScaleOutInfo.java
  java/src/com/vmware/avi/sdk/model/ServerAutoScalePolicy.java
  java/src/com/vmware/avi/sdk/model/VIMgrSEVMRuntime.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/g_c_p_configuration.go
  go/models/g_c_p_v_ip_routes.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/g_c_p_configuration.go
  go/models/g_c_p_v_ip_routes.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/GCPConfiguration.java
  java/src/com/vmware/avi/sdk/model/GCPVIPRoutes.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/GCPConfiguration.java
  java/src/com/vmware/avi/sdk/model/GCPVIPRoutes.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/scheduled_scaling.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/scheduled_scaling.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServerAutoScalePolicy.json
  swagger/ServerAutoScalePolicy.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServerAutoScalePolicy.json
  swagger/ServerAutoScalePolicy.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/ServerAutoScalePolicy/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ServerAutoScalePolicy/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/v_center_configuration.go
  go/models/vcenter_image_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/v_center_configuration.go
  go/models/vcenter_image_details.go
Owners: @mayank-avinetworks, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
