Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Update README.md (#1249)
  go/README.md
  java/README.md
  python/avi/sdk/README.md
Owners: @mayank-avinetworks, @manojkumarjain, @chaitanyaavi, @gangaadhars

Update README.md (#1249)
  go/README.md
  java/README.md
  python/avi/sdk/README.md
Owners: @mayank-avinetworks, @manojkumarjain, @chaitanyaavi, @gangaadhars

First version of WAF sizing script (#1300)
  python/avi/sdk/utils/waf_sizing/Makefile
  python/avi/sdk/utils/waf_sizing/waf_sizer.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

First version of WAF sizing script (#1300)
  python/avi/sdk/utils/waf_sizing/Makefile
  python/avi/sdk/utils/waf_sizing/waf_sizer.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/README.md
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/README.md
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for java
  java/README.md
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/README.md
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/README.md
  go/models/bot_mapping_rule.go
  go/models/controller_limits.go
  go/models/w_a_f_limits.go
  go/models/waf_application_signatures.go
  go/models/waf_config.go
  go/models/waf_p_s_m_location.go
  go/models/waf_p_s_m_rule.go
  go/models/waf_policy_allowlist.go
  go/models/waf_policy_p_s_m_group.go
  go/models/waf_positive_security_model.go
  go/models/waf_profile.go
  go/models/waf_rule.go
  go/models/waf_rule_group.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/README.md
  go/models/bot_mapping_rule.go
  go/models/controller_limits.go
  go/models/w_a_f_limits.go
  go/models/waf_application_signatures.go
  go/models/waf_config.go
  go/models/waf_p_s_m_location.go
  go/models/waf_p_s_m_rule.go
  go/models/waf_policy_allowlist.go
  go/models/waf_policy_p_s_m_group.go
  go/models/waf_positive_security_model.go
  go/models/waf_profile.go
  go/models/waf_rule.go
  go/models/waf_rule_group.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/WafApplicationSignatureProvider.json
  swagger/WafApplicationSignatureProvider.yaml
  swagger/WafCRS.json
  swagger/WafCRS.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
  swagger/WafPolicyPSMGroup.json
  swagger/WafPolicyPSMGroup.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/WafApplicationSignatureProvider.json
  swagger/WafApplicationSignatureProvider.yaml
  swagger/WafCRS.json
  swagger/WafCRS.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
  swagger/WafPolicyPSMGroup.json
  swagger/WafPolicyPSMGroup.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/BotMapping/index.html
  docs/SystemLimits/index.html
  docs/WafApplicationSignatureProvider/index.html
  docs/WafCRS/index.html
  docs/WafPolicy/index.html
  docs/WafPolicyPSMGroup/index.html
  docs/WafProfile/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/BotMapping/index.html
  docs/SystemLimits/index.html
  docs/WafApplicationSignatureProvider/index.html
  docs/WafCRS/index.html
  docs/WafPolicy/index.html
  docs/WafPolicyPSMGroup/index.html
  docs/WafProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/README.md
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
  java/src/com/vmware/avi/sdk/model/WAFLimits.java
  java/src/com/vmware/avi/sdk/model/WafApplicationSignatures.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafPSMLocation.java
  java/src/com/vmware/avi/sdk/model/WafPSMRule.java
  java/src/com/vmware/avi/sdk/model/WafPolicyAllowlist.java
  java/src/com/vmware/avi/sdk/model/WafPolicyPSMGroup.java
  java/src/com/vmware/avi/sdk/model/WafPositiveSecurityModel.java
  java/src/com/vmware/avi/sdk/model/WafProfile.java
  java/src/com/vmware/avi/sdk/model/WafRule.java
  java/src/com/vmware/avi/sdk/model/WafRuleGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/README.md
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
  java/src/com/vmware/avi/sdk/model/WAFLimits.java
  java/src/com/vmware/avi/sdk/model/WafApplicationSignatures.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafPSMLocation.java
  java/src/com/vmware/avi/sdk/model/WafPSMRule.java
  java/src/com/vmware/avi/sdk/model/WafPolicyAllowlist.java
  java/src/com/vmware/avi/sdk/model/WafPolicyPSMGroup.java
  java/src/com/vmware/avi/sdk/model/WafPositiveSecurityModel.java
  java/src/com/vmware/avi/sdk/model/WafProfile.java
  java/src/com/vmware/avi/sdk/model/WafRule.java
  java/src/com/vmware/avi/sdk/model/WafRuleGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/app_signature_config.go
  go/models/case_config.go
  go/models/ip_reputation_config.go
  go/models/user_agent_d_b_config.go
  go/models/waf_crs_config.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/app_signature_config.go
  go/models/case_config.go
  go/models/ip_reputation_config.go
  go/models/user_agent_d_b_config.go
  go/models/waf_crs_config.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/bot_mapping_rule.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/bot_mapping_rule.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/BotMapping/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/BotMapping/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/cloud.go
  go/models/license_info.go
  go/models/license_tier_usage.go
  go/models/service_engine_group.go
  go/models/system_configuration.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/cloud.go
  go/models/license_info.go
  go/models/license_tier_usage.go
  go/models/service_engine_group.go
  go/models/system_configuration.go
Owners: @mayank-avinetworks, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
