Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Service.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/VipSymmetryDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/MetricsDbSyncFailureEventDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesJob.java
  java/src/com/vmware/avi/sdk/model/ALBServicesJobApiResponse.java
  java/src/com/vmware/avi/sdk/model/BotMapping.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesJob.java
  java/src/com/vmware/avi/sdk/model/ALBServicesJobApiResponse.java
  java/src/com/vmware/avi/sdk/model/BotMapping.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/FbGsInfo.java
  java/src/com/vmware/avi/sdk/model/FbPoolInfo.java
  java/src/com/vmware/avi/sdk/model/FbSeInfo.java
  java/src/com/vmware/avi/sdk/model/FbVsInfo.java
  java/src/com/vmware/avi/sdk/model/KniPortRange.java
  java/src/com/vmware/avi/sdk/model/OpsHistory.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/StatediffEvent.java
  java/src/com/vmware/avi/sdk/model/StatediffOperation.java
  java/src/com/vmware/avi/sdk/model/StatediffOperationApiResponse.java
  java/src/com/vmware/avi/sdk/model/StatediffSnapshot.java
  java/src/com/vmware/avi/sdk/model/StatediffSnapshotApiResponse.java
  java/src/com/vmware/avi/sdk/model/UpgradeStatusInfo.java
  java/src/com/vmware/avi/sdk/model/postsnapshot.java
  java/src/com/vmware/avi/sdk/model/presnapshot.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HealthMonitor.java
  java/src/com/vmware/avi/sdk/model/HealthMonitorFtp.java
  java/src/com/vmware/avi/sdk/model/HealthMonitorLdap.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HealthMonitor.java
  java/src/com/vmware/avi/sdk/model/HealthMonitorFtp.java
  java/src/com/vmware/avi/sdk/model/HealthMonitorLdap.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AdaptReplEventInfo.java
  java/src/com/vmware/avi/sdk/model/ApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/ContentRewriteProfile.java
  java/src/com/vmware/avi/sdk/model/ControllerAnalyticsPolicy.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/GslbServiceRuntime.java
  java/src/com/vmware/avi/sdk/model/HorizonProfile.java
  java/src/com/vmware/avi/sdk/model/Image.java
  java/src/com/vmware/avi/sdk/model/MatchReplacePair.java
  java/src/com/vmware/avi/sdk/model/MetricsEventThreshold.java
  java/src/com/vmware/avi/sdk/model/Pool.java
  java/src/com/vmware/avi/sdk/model/RspContentRewriteRule.java
  java/src/com/vmware/avi/sdk/model/SEFaultInjectSeParam.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingStatus.java
  java/src/com/vmware/avi/sdk/model/SearchReplacePair.java
  java/src/com/vmware/avi/sdk/model/SearchStringVar.java
  java/src/com/vmware/avi/sdk/model/Service.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesCase.java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/ClusterNode.java
  java/src/com/vmware/avi/sdk/model/ControllerInterface.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/IPAddrLimits.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/LicenseStatusApiResponse.java
  java/src/com/vmware/avi/sdk/model/NsxtSIEndpointDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIPolicyDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIRuleDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIServiceDetails.java
  java/src/com/vmware/avi/sdk/model/OauthLog.java
  java/src/com/vmware/avi/sdk/model/OauthSubRequestLog.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingInfo.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingStatus.java
  java/src/com/vmware/avi/sdk/model/SeAgentProperties.java
  java/src/com/vmware/avi/sdk/model/SeBootupProperties.java
  java/src/com/vmware/avi/sdk/model/SeRuntimeProperties.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SubRequestLog.java
  java/src/com/vmware/avi/sdk/model/SwitchoverEventDetails.java
  java/src/com/vmware/avi/sdk/model/Tier1LogicalRouterInfo.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/VipSymmetryDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Service.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/SeVsDelFlowsDisrupted.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AttachIpStatusEventDetails.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/DetachIpStatusEventDetails.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/ScaleStatus.java
  java/src/com/vmware/avi/sdk/model/SeList.java
  java/src/com/vmware/avi/sdk/model/VipSeAssigned.java
  java/src/com/vmware/avi/sdk/model/VsSwitchoverEventDetails.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/DebugVirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/DebugVirtualService/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/DebugVirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/DebugVirtualService/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/GeoDB.json
  swagger/GeoDB.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/LicenseStatus.json
  swagger/LicenseStatus.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/GeoDB.json
  swagger/GeoDB.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/LicenseStatus.json
  swagger/LicenseStatus.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/GeoDB/index.html
  docs/Image/index.html
  docs/LicenseStatus/index.html
  docs/NetworkProfile/index.html
  docs/SystemLimits/index.html
  docs/VIMgrVcenterRuntime/index.html
  docs/WafProfile/index.html
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/GeoDB/index.html
  docs/Image/index.html
  docs/LicenseStatus/index.html
  docs/NetworkProfile/index.html
  docs/SystemLimits/index.html
  docs/VIMgrVcenterRuntime/index.html
  docs/WafProfile/index.html
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/CentralLicenseRefreshDetails.java
  java/src/com/vmware/avi/sdk/model/CentralLicenseSubscriptionDetails.java
  java/src/com/vmware/avi/sdk/model/DsrProfile.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/LicenseServiceUpdate.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/OrgServiceUnits.java
  java/src/com/vmware/avi/sdk/model/WAFLimits.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/CentralLicenseRefreshDetails.java
  java/src/com/vmware/avi/sdk/model/CentralLicenseSubscriptionDetails.java
  java/src/com/vmware/avi/sdk/model/DsrProfile.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/LicenseServiceUpdate.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/OrgServiceUnits.java
  java/src/com/vmware/avi/sdk/model/WAFLimits.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/UserAccountProfile.java
  java/src/com/vmware/avi/sdk/model/UserActivity.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/UserAccountProfile.java
  java/src/com/vmware/avi/sdk/model/UserActivity.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/central_license_refresh_details.go
  go/models/central_license_subscription_details.go
  go/models/dsr_profile.go
  go/models/event_details.go
  go/models/geo_d_b.go
  go/models/license_service_update.go
  go/models/license_status.go
  go/models/org_service_units.go
  go/models/w_a_f_limits.go
  go/models/waf_config.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/central_license_refresh_details.go
  go/models/central_license_subscription_details.go
  go/models/dsr_profile.go
  go/models/event_details.go
  go/models/geo_d_b.go
  go/models/license_service_update.go
  go/models/license_status.go
  go/models/org_service_units.go
  go/models/w_a_f_limits.go
  go/models/waf_config.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/scale_status.go
  go/models/user_account_profile.go
  go/models/user_activity.go
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/scale_status.go
  go/models/user_account_profile.go
  go/models/user_activity.go
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/conn_pool_properties.go
  go/models/supported_migrations.go
Owners: @mayank-avinetworks, @manojkumarjain
