Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for python
  python/avi/sdk/README.md
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_parser.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/conftest.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/vs_filter.py
  python/avi/sdk/README.md
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/sdk/README.md
  python/avi/sdk/avi_api.py
  python/avi/sdk/test/test_avi_api.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/f5_converter/f5_parser.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/conftest.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/vs_filter.py
  python/avi/sdk/README.md
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/f5_converter/f5_parser.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/clients/avi_client.go
  go/clients/webapput_client.go
  go/models/alert_object_list.go
  go/models/event_log.go
  go/models/l1_f_mandatory_test_case.go
  go/models/l1_string_length_test_case.go
  go/models/l2_f_mandatory_test_case.go
  go/models/l2_string_length_test_case.go
  go/models/single_optional_field_message.go
  go/models/single_optional_string_field.go
  go/models/v_s_data_script.go
  go/models/webapp_u_t.go
  go/models/webapp_u_t_api_response.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VSDataScriptSet.json
  swagger/VSDataScriptSet.yaml
  swagger/WebappUT.json
  swagger/WebappUT.yaml
  swagger/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/VSDataScriptSet/index.html
  docs/WebappUT/index.html
  docs/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/L1FMandatoryTestCase.java
  java/src/com/vmware/avi/sdk/model/L1StringLengthTestCase.java
  java/src/com/vmware/avi/sdk/model/L2FMandatoryTestCase.java
  java/src/com/vmware/avi/sdk/model/L2StringLengthTestCase.java
  java/src/com/vmware/avi/sdk/model/SingleOptionalFieldMessage.java
  java/src/com/vmware/avi/sdk/model/SingleOptionalStringField.java
  java/src/com/vmware/avi/sdk/model/VSDataScript.java
  java/src/com/vmware/avi/sdk/model/WebappUT.java
  java/src/com/vmware/avi/sdk/model/WebappUTApiResponse.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/debug_service_engine.go
  go/models/debug_trace_malloc_types.go
  go/models/debug_trace_memory.go
  go/models/debug_trace_shm_malloc_types.go
  go/models/l1_f_mandatory_test_case.go
  go/models/l1_string_length_test_case.go
  go/models/l2_f_mandatory_test_case.go
  go/models/l2_string_length_test_case.go
  go/models/single_optional_field_message.go
  go/models/single_optional_string_field.go
  go/models/v_s_data_script.go
  go/models/webapp_u_t.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/VSDataScriptSet.json
  swagger/VSDataScriptSet.yaml
  swagger/WebappUT.json
  swagger/WebappUT.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/DebugServiceEngine/index.html
  docs/VSDataScriptSet/index.html
  docs/WebappUT/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/DebugServiceEngine.java
  java/src/com/vmware/avi/sdk/model/DebugTraceMallocTypes.java
  java/src/com/vmware/avi/sdk/model/DebugTraceMemory.java
  java/src/com/vmware/avi/sdk/model/DebugTraceShmMallocTypes.java
  java/src/com/vmware/avi/sdk/model/L1FMandatoryTestCase.java
  java/src/com/vmware/avi/sdk/model/L1StringLengthTestCase.java
  java/src/com/vmware/avi/sdk/model/L2FMandatoryTestCase.java
  java/src/com/vmware/avi/sdk/model/L2StringLengthTestCase.java
  java/src/com/vmware/avi/sdk/model/SingleOptionalStringField.java
  java/src/com/vmware/avi/sdk/model/VSDataScript.java
  java/src/com/vmware/avi/sdk/model/WebappUT.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/v_s_data_script.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VSDataScriptSet.json
  swagger/VSDataScriptSet.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/VSDataScriptSet/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/VSDataScript.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain
