Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

AV-160498: Added ssl context changes in Java SDK.
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

Updated jackson-databind version in Java SDK.
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated jackson-databind version from 2.12.7 to 2.12.7.1 in Java SDK.
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-103074: F5 Migration Tools Enhancements
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/datagroup_converter.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/pool_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-103074: F5 Migration Tools Enhancements
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/datagroup_converter.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/pool_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-103074: Test case update
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
Owners: @chaitanyaavi, @manojkumarjain

AV-103074: Minor fixes
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-103074: F5 Migration Tools Enhancements (#2508)
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/datagroup_converter.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/pool_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated jackson-databind version from 2.12.7 to 2.12.7.1 in Java SDK. (#2506)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-160498: Added ssl context changes in Java SDK. (#2505)
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java (#2490)
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
Owners: @chaitanyaavi, @manojkumarjain

AV-160498: Added ssl context changes in Java SDK.
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

AV-160498: Added ssl context changes in Java SDK. (#2509)
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

AV-42298: Add feature to skip disabled virtual servers in migration tool
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Auto updated assets for go models and clients eng (#2476)
  go/models/alert_object_list.go
  go/models/app_signature_config.go
  go/models/c_c_vnic_info.go
  go/models/controller_interface.go
  go/models/event_details.go
  go/models/event_log.go
  go/models/gslb_pool.go
  go/models/gslb_service.go
  go/models/gslb_site_runtime_stats.go
  go/models/pool.go
  go/models/s_s_l_key_and_certificate.go
  go/models/s_s_l_profile.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/models/sp_gslb_service_info.go
  go/models/system_configuration.go
  go/models/upgrade_readiness_check_obj.go
  go/models/v_center_configuration.go
  go/models/v_i_mgr_n_w_runtime.go
  go/models/vcenter_datastore.go
  go/models/vcenter_tag_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Regex Fix Added
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Made minor fixes
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/application_log.go
  go/models/client_fingerprints.go
  go/models/connection_log.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/ip_reputation_config.go
  go/models/l4_rule_protocol_match.go
  go/models/match_target.go
  go/models/service_engine_group.go
  go/models/sip_log.go
  go/models/tls_fingerprint_match.go
  go/models/waf_content_type_mapping.go
Owners: @mayank-avinetworks, @manojkumarjain

AV-161196 Logging-Sensitive-Fields-Stopped
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

AV-161196 Minor-Bugs-Fixed
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Regex Fix Added
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Made minor fixes
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

AV-161196 Logging-Sensitive-Fields-Stopped
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

AV-161196 Minor-Bugs-Fixed
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/BotDetectionPolicy.json
  swagger/BotDetectionPolicy.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ControllerProperties.json
  swagger/ControllerProperties.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/L4PolicySet.json
  swagger/L4PolicySet.yaml
  swagger/NatPolicy.json
  swagger/NatPolicy.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/BotDetectionPolicy/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/HTTPPolicySet/index.html
  docs/L4PolicySet/index.html
  docs/NatPolicy/index.html
  docs/ServiceEngineGroup/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
  docs/WafProfile/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/ClientFingerprints.java
  java/src/com/vmware/avi/sdk/model/ConnectionLog.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/L4RuleProtocolMatch.java
  java/src/com/vmware/avi/sdk/model/MatchTarget.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SipLog.java
  java/src/com/vmware/avi/sdk/model/TlsFingerprintMatch.java
  java/src/com/vmware/avi/sdk/model/WafContentTypeMapping.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/application_log.go
  go/models/client_fingerprints.go
  go/models/connection_log.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/ip_reputation_config.go
  go/models/l4_rule_protocol_match.go
  go/models/match_target.go
  go/models/service_engine_group.go
  go/models/sip_log.go
  go/models/tls_fingerprint_match.go
  go/models/waf_content_type_mapping.go
Owners: @mayank-avinetworks, @manojkumarjain

AV-103074: F5 Enhancements
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/avi_rest_lib.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/custom_config.py
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/converter_constants.py
  python/avi/migrationtools/f5_converter/datagroup_converter.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/f5_parser.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_converter/policy_converter.py
  python/avi/migrationtools/f5_converter/pool_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/scp_util.py
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/f5_discovery.py
  python/avi/migrationtools/scp_util.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients (#2517)
  go/models/application_log.go
  go/models/client_fingerprints.go
  go/models/connection_log.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/ip_reputation_config.go
  go/models/l4_rule_protocol_match.go
  go/models/match_target.go
  go/models/service_engine_group.go
  go/models/sip_log.go
  go/models/tls_fingerprint_match.go
  go/models/waf_content_type_mapping.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/a_l_b_services_config.go
  go/models/a_l_b_services_job.go
  go/models/c_c_vnic_info.go
  go/models/client_log_streaming_config.go
  go/models/controller_interface.go
  go/models/inventory_config.go
  go/models/operations_config.go
  go/models/pool.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/ALBServicesJob.json
  swagger/ALBServicesJob.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AnalyticsProfile.json
  swagger/AnalyticsProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/UpgradeStatusInfo.json
  swagger/UpgradeStatusInfo.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/ALBServicesJob/index.html
  docs/Alert/index.html
  docs/AnalyticsProfile/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/Image/index.html
  docs/Pool/index.html
  docs/UpgradeStatusInfo/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/ALBServicesJob.java
  java/src/com/vmware/avi/sdk/model/ClientLogStreamingConfig.java
  java/src/com/vmware/avi/sdk/model/ControllerInterface.java
  java/src/com/vmware/avi/sdk/model/InventoryConfig.java
  java/src/com/vmware/avi/sdk/model/OperationsConfig.java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

AV-164205: Added NSX-V to AVI Discovery tool
  python/avi/migrationtools/v2alb_converter/discovery_status.yaml
  python/avi/migrationtools/v2alb_converter/v2alb_discovery.py
Owners: @chaitanyaavi, @manojkumarjain

AV-164205: Added NSX-V to AVI Discovery tool (#2524)
  python/avi/migrationtools/v2alb_converter/discovery_status.yaml
  python/avi/migrationtools/v2alb_converter/v2alb_discovery.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/admin_auth_configuration.go
  go/models/l1_f_sensitive_test_case.go
  go/models/l2_f_sensitive_test_case.go
  go/models/single_optional_sensitive_field_message.go
  go/models/v_h_match.go
  go/models/webapp_u_t.go
Owners: @mayank-avinetworks, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
