Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/http_application_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/c_c_agent_properties.go
  go/models/vcenter_quarantined_host_params.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/VIMgrHostRuntime.json
  swagger/VIMgrHostRuntime.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/CloudProperties/index.html
  docs/VIMgrHostRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/model/CC_AgentProperties.java
  java/src/com/vmware/avi/sdk/model/VcenterQuarantinedHostParams.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

AV-152818: Added readme file for NSX-T LB to ALB Migration tool (#2370)
  python/avi/migrationtools/README.md
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
Owners: @chaitanyaavi, @manojkumarjain

AV-152818: Readme file formatting
  python/avi/migrationtools/nsxt_converter/README.md
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/nsxt_segment_runtime.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NsxtSegmentRuntime.json
  swagger/NsxtSegmentRuntime.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/ansible_constant.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/samples/virtualservice_examples_sdk.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for docs
  docs/NsxtSegmentRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/NsxtSegmentRuntime.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/waf_data_file.go
  go/models/waf_policy_required_data_file.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/WafPolicy/index.html
  docs/WafProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/OverallInfo.java
  java/src/com/vmware/avi/sdk/model/WafDataFile.java
  java/src/com/vmware/avi/sdk/model/WafPolicyRequiredDataFile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/virtual_service.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
Owners: @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
