Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Auto updated assets for python eng (#1795)
  python/avi/migrationtools/ace_converter/ace_config_converter.py
  python/avi/migrationtools/ace_converter/ace_converter.py
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_rest_lib.py
  python/avi/migrationtools/gss_convertor/gss_convertor.py
  python/avi/migrationtools/netscaler_converter/gslb_config_converter.py
  python/avi/migrationtools/netscaler_converter/monitor_converter.py
  python/avi/migrationtools/netscaler_converter/netscaler_converter.py
  python/avi/migrationtools/netscaler_converter/netscaler_gslb_converter.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
  python/avi/sdk/avi_api.py
  python/avi/sdk/utils/ansible_utils.py
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars, @sabandi

Auto updated assets for python eng (#1795)
  python/avi/migrationtools/ace_converter/ace_config_converter.py
  python/avi/migrationtools/ace_converter/ace_converter.py
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_rest_lib.py
  python/avi/migrationtools/gss_convertor/gss_convertor.py
  python/avi/migrationtools/netscaler_converter/gslb_config_converter.py
  python/avi/migrationtools/netscaler_converter/monitor_converter.py
  python/avi/migrationtools/netscaler_converter/netscaler_converter.py
  python/avi/migrationtools/netscaler_converter/netscaler_gslb_converter.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
  python/avi/sdk/avi_api.py
  python/avi/sdk/utils/ansible_utils.py
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars, @sabandi

Update go sdk default version
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Update go sdk default version
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/LicenseStatus.json
  swagger/LicenseStatus.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/LicenseStatus.json
  swagger/LicenseStatus.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/ApplicationProfile/index.html
  docs/Image/index.html
  docs/LicenseStatus/index.html
  docs/Pool/index.html
  docs/ServiceEngine/index.html
  docs/ServiceEngineGroup/index.html
  docs/SystemConfiguration/index.html
  docs/VIMgrVcenterRuntime/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/ApplicationProfile/index.html
  docs/Image/index.html
  docs/LicenseStatus/index.html
  docs/Pool/index.html
  docs/ServiceEngine/index.html
  docs/ServiceEngineGroup/index.html
  docs/SystemConfiguration/index.html
  docs/VIMgrVcenterRuntime/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/statediff_operation.go
  go/models/statediff_snapshot.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/statediff_operation.go
  go/models/statediff_snapshot.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ace_converter/ace_converter.py
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/clone_cross_tenant_obj.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_discovery.py
  python/avi/migrationtools/gss_convertor/gss_convertor.py
  python/avi/migrationtools/netscaler_converter/netscaler_converter.py
  python/avi/migrationtools/vs_filter.py
  python/avi/migrationtools/waf/avi_iwaf_vpatch.py
  python/avi/migrationtools/waf/test_vpatch.py
  python/avi/sdk/samples/alb_rules.py
  python/avi/sdk/samples/clone_vs.py
  python/avi/sdk/samples/clone_vs_segroup.py
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/utils/app_logs/analyze_logs.py
  python/avi/sdk/utils/app_logs/fetch_logs.py
  python/avi/sdk/utils/waf_sizing/waf_sizer.py
  python/create_sdk_pip_packages.sh
  python/create_sdk_pkgs.sh
  python/create_sdk_pypi.sh
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/ace_converter/ace_converter.py
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/clone_cross_tenant_obj.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/f5_converter/persistence_converter.py
  python/avi/migrationtools/f5_discovery.py
  python/avi/migrationtools/gss_convertor/gss_convertor.py
  python/avi/migrationtools/netscaler_converter/netscaler_converter.py
  python/avi/migrationtools/vs_filter.py
  python/avi/migrationtools/waf/avi_iwaf_vpatch.py
  python/avi/migrationtools/waf/test_vpatch.py
  python/avi/sdk/samples/alb_rules.py
  python/avi/sdk/samples/clone_vs.py
  python/avi/sdk/samples/clone_vs_segroup.py
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/utils/app_logs/analyze_logs.py
  python/avi/sdk/utils/app_logs/fetch_logs.py
  python/avi/sdk/utils/waf_sizing/waf_sizer.py
  python/create_sdk_pip_packages.sh
  python/create_sdk_pkgs.sh
  python/create_sdk_pypi.sh
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/metrics_db_sync_failure_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/metrics_db_sync_failure_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
