Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/AdminAuthConfiguration.java
  java/src/com/vmware/avi/sdk/model/L1FSensitiveTestCase.java
  java/src/com/vmware/avi/sdk/model/L2FSensitiveTestCase.java
  java/src/com/vmware/avi/sdk/model/SingleOptionalSensitiveFieldMessage.java
  java/src/com/vmware/avi/sdk/model/VHMatch.java
  java/src/com/vmware/avi/sdk/model/WebappUT.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/a_l_b_services_config.go
  go/models/a_l_b_services_job.go
  go/models/application_log.go
  go/models/c_c_vnic_info.go
  go/models/client_fingerprints.go
  go/models/client_log_streaming_config.go
  go/models/connection_log.go
  go/models/controller_interface.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/inventory_config.go
  go/models/ip_reputation_config.go
  go/models/l4_rule_protocol_match.go
  go/models/match_target.go
  go/models/operations_config.go
  go/models/pool.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/models/service_engine_group.go
  go/models/sip_log.go
  go/models/tls_fingerprint_match.go
  go/models/waf_content_type_mapping.go
  go/session/avisession.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/ALBServicesJob/index.html
  docs/Alert/index.html
  docs/AnalyticsProfile/index.html
  docs/ApplicationProfile/index.html
  docs/BotDetectionPolicy/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/HTTPPolicySet/index.html
  docs/Image/index.html
  docs/L4PolicySet/index.html
  docs/NatPolicy/index.html
  docs/Pool/index.html
  docs/ServiceEngineGroup/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/UpgradeStatusInfo/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
  docs/WafProfile/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/ALBServicesJob.java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/ClientFingerprints.java
  java/src/com/vmware/avi/sdk/model/ClientLogStreamingConfig.java
  java/src/com/vmware/avi/sdk/model/ConnectionLog.java
  java/src/com/vmware/avi/sdk/model/ControllerInterface.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/InventoryConfig.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/L4RuleProtocolMatch.java
  java/src/com/vmware/avi/sdk/model/MatchTarget.java
  java/src/com/vmware/avi/sdk/model/OperationsConfig.java
  java/src/com/vmware/avi/sdk/model/Pool.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SipLog.java
  java/src/com/vmware/avi/sdk/model/TlsFingerprintMatch.java
  java/src/com/vmware/avi/sdk/model/WafContentTypeMapping.java
Owners: @chaitanyaavi, @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/WebappUT.json
  swagger/WebappUT.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/WebappUT/index.html
Owners: @manojkumarjain

chore: fix the misspelled words
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/custom_config.py
  python/avi/migrationtools/nsxt_converter/README.md
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_rollback.py
  python/avi/migrationtools/nsxt_converter/nsxt_traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
Owners: @chaitanyaavi, @manojkumarjain

#AV-165531 Fixed go test failure
  go/conftest.py
  go/examples/test/tests_go_clients.py
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain
