Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Cloud.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Cloud.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviAuthorizationInterceptor.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviAuthorizationInterceptor.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/portal_feature_opt_in.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/portal_feature_opt_in.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/Cloud/index.html
  docs/Image/index.html
  docs/ServiceEngine/index.html
  docs/ServiceEngineGroup/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/Cloud/index.html
  docs/Image/index.html
  docs/ServiceEngine/index.html
  docs/ServiceEngineGroup/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/HardwareSecurityModuleGroup.json
  swagger/HardwareSecurityModuleGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/HardwareSecurityModuleGroup.json
  swagger/HardwareSecurityModuleGroup.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HardwareSecurityModule.java
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for java
  java/src/com/vmware/avi/sdk/model/HardwareSecurityModule.java
  python/avi/sdk/utils/waf_policy/vdi_waf_policy.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/cluster_h_a_config.go
  go/models/event_details.go
  go/models/placement_scope_config.go
  go/models/v_i_mgr_s_e_vm_runtime.go
  go/models/vcenter_cluster_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/cluster_h_a_config.go
  go/models/event_details.go
  go/models/placement_scope_config.go
  go/models/v_i_mgr_s_e_vm_runtime.go
  go/models/vcenter_cluster_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VIMgrSEVMRuntime.json
  swagger/VIMgrSEVMRuntime.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/VIMgrSEVMRuntime.json
  swagger/VIMgrSEVMRuntime.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain
