Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/OpenStackConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Added nsx python sdk dependancy in migration lib directory
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK (#2294)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK (#2293)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK (#2296)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-151083: Bump jackson-databind from 2.12.6 to 2.12.7 in Java SDK (#2295)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Removed change of nsx python dependancy in migration lib directory
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Added fix for F5 and NS tests failure
  python/avi/migrationtools/test/common/excel_reader.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Removed change of nsx python dependancy in migration lib directory (#2297)
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/test/common/excel_reader.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python (#2281)
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Added seperate script for installing nsx python sdk dependancy
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Added seperate script for installing nsx python sdk dependancy (#2298)
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/index.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/debug_service_engine.go
  go/models/http_application_profile.go
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/DebugServiceEngine.json
  swagger/DebugServiceEngine.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/DebugServiceEngine/index.html
  docs/Pool/index.html
  docs/index.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/DebugServiceEngine.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/http_application_profile.go
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Pool.json
  swagger/Pool.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java (#2309)
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Update pom.xml
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs (#2308)
  docs/ApplicationProfile/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for swagger (#2307)
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Pool.json
  swagger/Pool.yaml
Owners: @manojkumarjain

Updated assets for go models and clients (#2306)
  go/models/http_application_profile.go
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain
