Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for python
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/samples/virtualservice_examples_sdk.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/nsxt_converter/pools_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/ansible_constant.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/config_patch.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/VirtualService.java
Owners: @chaitanyaavi, @manojkumarjain

Auto updated assets for python 22.1.2 (#2344)
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/ansible_constant.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/patch.yaml
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/sdk/avi_api.py
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/samples/virtualservice_examples_sdk.py
  python/version.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/migrationtools/ansible/ansible_config_converter.py
  python/avi/migrationtools/ansible/ansible_constant.py
  python/avi/migrationtools/ansible/avi_config_to_ansible.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/sdk/avi_api.py
  python/avi/sdk/samples/virtualservice_examples_api.py
  python/avi/sdk/samples/virtualservice_examples_saml_api.py
  python/avi/sdk/samples/virtualservice_examples_sdk.py
  python/version.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for python (#2403)
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/waf_rule.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/WafApplicationSignatureProvider.json
  swagger/WafApplicationSignatureProvider.yaml
  swagger/WafCRS.json
  swagger/WafCRS.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/migrationtools/README.md
  python/avi/migrationtools/f5_converter/test/hol_advanced_bigip.conf
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
  python/avi/migrationtools/nsxt_converter/pools_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/WafApplicationSignatureProvider/index.html
  docs/WafCRS/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/WafRule.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/virtual_service.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/VirtualService.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

AV-155376: Fixed persistence profile migration issue, done cherrypick of changes from 22.1.1 branch
  python/avi/migrationtools/README.md
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

AV-156969: Synced migration tools code from avi-dev eng to alb-sdk 22.1.2
  python/avi/migrationtools/README.md
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/f5_config_converter.py
  python/avi/migrationtools/f5_converter/profile_converter.py
  python/avi/migrationtools/f5_converter/test/hol_advanced_bigip.conf
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/f5_converter/vs_converter.py
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/pb_attributes.yaml
Owners: @chaitanyaavi, @manojkumarjain

uAV-156969: Synced migration tools code from avi-dev eng to alb-sdk eng
  python/avi/migrationtools/README.md
  python/avi/migrationtools/f5_converter/test/hol_advanced_bigip.conf
  python/avi/migrationtools/f5_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/pb_attributes.yaml
Owners: @chaitanyaavi, @manojkumarjain

AV-156969: Synced latest changes from avi-dev eng
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-156969: Synced latest changes from avi-dev eng
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-157124: Fixed issue while writing excelsheet with the latest pandas version
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
Owners: @chaitanyaavi, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
