Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for java
  java/src/com/vmware/avi/sdk/model/NetworkProfile.java
  java/src/com/vmware/avi/sdk/model/RateLimiter.java
  java/src/com/vmware/avi/sdk/model/RateLimiterAction.java
  java/src/com/vmware/avi/sdk/model/RateProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Added changes for pom.xml (#2034)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Added changes for pom.xml (#2034)
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/backup_configuration.go
  go/models/gcp_info.go
  go/models/o_auth_profile.go
  go/models/sub_resource.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/backup_configuration.go
  go/models/gcp_info.go
  go/models/o_auth_profile.go
  go/models/sub_resource.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/AuthProfile.json
  swagger/AuthProfile.yaml
  swagger/BackupConfiguration.json
  swagger/BackupConfiguration.yaml
  swagger/Role.json
  swagger/Role.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/AuthProfile.json
  swagger/AuthProfile.yaml
  swagger/BackupConfiguration.json
  swagger/BackupConfiguration.yaml
  swagger/Role.json
  swagger/Role.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/AuthProfile/index.html
  docs/BackupConfiguration/index.html
  docs/Role/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/AuthProfile/index.html
  docs/BackupConfiguration/index.html
  docs/Role/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/BackupConfiguration.java
  java/src/com/vmware/avi/sdk/model/GcpInfo.java
  java/src/com/vmware/avi/sdk/model/SubResource.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/BackupConfiguration.java
  java/src/com/vmware/avi/sdk/model/GcpInfo.java
  java/src/com/vmware/avi/sdk/model/SubResource.java
Owners: @chaitanyaavi, @manojkumarjain

AV-132375: Username password cannot be same (#2036)
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

AV-132375: Username password cannot be same (#2036)
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Update test_clean_reboot.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Update test_clean_reboot.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/event_gen_params.go
  go/models/event_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/event_gen_params.go
  go/models/event_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/action.go
  go/models/apply_log_recommendations.go
  go/models/get_log_recommendations.go
  go/models/http_application_profile.go
  go/models/recommendation_request.go
  go/models/waf_policy_c_r_s_update.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/action.go
  go/models/apply_log_recommendations.go
  go/models/get_log_recommendations.go
  go/models/http_application_profile.go
  go/models/recommendation_request.go
  go/models/waf_policy_c_r_s_update.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Action.java
  java/src/com/vmware/avi/sdk/model/ApplyLogRecommendations.java
  java/src/com/vmware/avi/sdk/model/GetLogRecommendations.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/RecommendationRequest.java
  java/src/com/vmware/avi/sdk/model/WafPolicyCRSUpdate.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Action.java
  java/src/com/vmware/avi/sdk/model/ApplyLogRecommendations.java
  java/src/com/vmware/avi/sdk/model/GetLogRecommendations.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/RecommendationRequest.java
  java/src/com/vmware/avi/sdk/model/WafPolicyCRSUpdate.java
Owners: @chaitanyaavi, @manojkumarjain

add params to _get_uuid_by_name for delete_by_name()
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

add params to _get_uuid_by_name for put_by_name()
  python/avi/sdk/avi_api.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/sdk/samples/custom_dns_script_infoblox.py
  python/avi/sdk/samples/custom_ipam_script_infoblox.py
  python/avi/sdk/samples/operstate_controlscript_infoblox.py
  python/avi/sdk/samples/validate_custom_ipam_script.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/custom_config.py
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/sdk/samples/custom_dns_script_infoblox.py
  python/avi/sdk/samples/operstate_controlscript_infoblox.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/custom_config.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
  python/avi/sdk/samples/custom_ipam_script_infoblox.py
  python/avi/sdk/samples/operstate_controlscript_infoblox.py
  python/avi/sdk/samples/validate_custom_ipam_script.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated versions
  java/pom.xml
  python/version.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/sdk/README.md
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
