Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/vip_symmetry_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/vip_symmetry_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/VIMgrVcenterRuntime.json
  swagger/VIMgrVcenterRuntime.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/VIMgrVcenterRuntime/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/AnalyticsProfile/index.html
  docs/ApplicationPersistenceProfile/index.html
  docs/ApplicationProfile/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/DebugServiceEngine/index.html
  docs/DebugVirtualService/index.html
  docs/DnsPolicy/index.html
  docs/DynamicDnsRecord/index.html
  docs/Gslb/index.html
  docs/GslbService/index.html
  docs/HTTPPolicySet/index.html
  docs/HealthMonitor/index.html
  docs/IcapProfile/index.html
  docs/Image/index.html
  docs/NetworkProfile/index.html
  docs/NetworkSecurityPolicy/index.html
  docs/Pool/index.html
  docs/PoolGroup/index.html
  docs/SecurityPolicy/index.html
  docs/ServiceEngineGroup/index.html
  docs/UserAccountProfile/index.html
  docs/VirtualService/index.html
  docs/VsVip/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/AnalyticsProfile/index.html
  docs/ApplicationPersistenceProfile/index.html
  docs/ApplicationProfile/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/DebugServiceEngine/index.html
  docs/DebugVirtualService/index.html
  docs/DnsPolicy/index.html
  docs/DynamicDnsRecord/index.html
  docs/Gslb/index.html
  docs/GslbService/index.html
  docs/HTTPPolicySet/index.html
  docs/HealthMonitor/index.html
  docs/IcapProfile/index.html
  docs/Image/index.html
  docs/NetworkProfile/index.html
  docs/NetworkSecurityPolicy/index.html
  docs/Pool/index.html
  docs/PoolGroup/index.html
  docs/SecurityPolicy/index.html
  docs/ServiceEngineGroup/index.html
  docs/UserAccountProfile/index.html
  docs/VirtualService/index.html
  docs/VsVip/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Image.java
  java/src/com/vmware/avi/sdk/model/ImageEvent.java
  java/src/com/vmware/avi/sdk/model/ImageEventMap.java
  java/src/com/vmware/avi/sdk/model/ImageUploadOpsStatus.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
  java/src/com/vmware/avi/sdk/model/BotMappingRuleMatchTarget.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/HttpCookiePersistenceProfile.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingInfo.java
  java/src/com/vmware/avi/sdk/model/SecMgrUAEventDetails.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/BotMappingRule.java
  java/src/com/vmware/avi/sdk/model/BotMappingRuleMatchTarget.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/HttpCookiePersistenceProfile.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingInfo.java
  java/src/com/vmware/avi/sdk/model/SecMgrUAEventDetails.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ConfigVersionStatus.java
  java/src/com/vmware/avi/sdk/model/GslbSiteCfgSyncInfo.java
  java/src/com/vmware/avi/sdk/model/VsGs.java
  java/src/com/vmware/avi/sdk/model/VsGsApiResponse.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ConfigVersionStatus.java
  java/src/com/vmware/avi/sdk/model/GslbSiteCfgSyncInfo.java
  java/src/com/vmware/avi/sdk/model/VsGs.java
  java/src/com/vmware/avi/sdk/model/VsGsApiResponse.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Image.java
  java/src/com/vmware/avi/sdk/model/ImageEvent.java
  java/src/com/vmware/avi/sdk/model/ImageEventMap.java
  java/src/com/vmware/avi/sdk/model/ImageUploadOpsStatus.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AttachIpStatusEventDetails.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/DetachIpStatusEventDetails.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/ScaleStatus.java
  java/src/com/vmware/avi/sdk/model/SeList.java
  java/src/com/vmware/avi/sdk/model/VipSeAssigned.java
  java/src/com/vmware/avi/sdk/model/VsSwitchoverEventDetails.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AdaptReplEventInfo.java
  java/src/com/vmware/avi/sdk/model/ApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/ContentRewriteProfile.java
  java/src/com/vmware/avi/sdk/model/ControllerAnalyticsPolicy.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/GslbServiceRuntime.java
  java/src/com/vmware/avi/sdk/model/HorizonProfile.java
  java/src/com/vmware/avi/sdk/model/Image.java
  java/src/com/vmware/avi/sdk/model/MatchReplacePair.java
  java/src/com/vmware/avi/sdk/model/MetricsEventThreshold.java
  java/src/com/vmware/avi/sdk/model/Pool.java
  java/src/com/vmware/avi/sdk/model/RspContentRewriteRule.java
  java/src/com/vmware/avi/sdk/model/SEFaultInjectSeParam.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingStatus.java
  java/src/com/vmware/avi/sdk/model/SearchReplacePair.java
  java/src/com/vmware/avi/sdk/model/SearchStringVar.java
  java/src/com/vmware/avi/sdk/model/Service.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/FbGsInfo.java
  java/src/com/vmware/avi/sdk/model/FbPoolInfo.java
  java/src/com/vmware/avi/sdk/model/FbSeInfo.java
  java/src/com/vmware/avi/sdk/model/FbVsInfo.java
  java/src/com/vmware/avi/sdk/model/KniPortRange.java
  java/src/com/vmware/avi/sdk/model/OpsHistory.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/StatediffEvent.java
  java/src/com/vmware/avi/sdk/model/StatediffOperation.java
  java/src/com/vmware/avi/sdk/model/StatediffOperationApiResponse.java
  java/src/com/vmware/avi/sdk/model/StatediffSnapshot.java
  java/src/com/vmware/avi/sdk/model/StatediffSnapshotApiResponse.java
  java/src/com/vmware/avi/sdk/model/UpgradeStatusInfo.java
  java/src/com/vmware/avi/sdk/model/postsnapshot.java
  java/src/com/vmware/avi/sdk/model/presnapshot.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ALBServicesCase.java
  java/src/com/vmware/avi/sdk/model/ALBServicesConfig.java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/CaseConfig.java
  java/src/com/vmware/avi/sdk/model/ClusterNode.java
  java/src/com/vmware/avi/sdk/model/ControllerInterface.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/IPAddrLimits.java
  java/src/com/vmware/avi/sdk/model/IpReputationConfig.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/LicenseStatusApiResponse.java
  java/src/com/vmware/avi/sdk/model/NsxtSIEndpointDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIPolicyDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIRuleDetails.java
  java/src/com/vmware/avi/sdk/model/NsxtSIServiceDetails.java
  java/src/com/vmware/avi/sdk/model/OauthLog.java
  java/src/com/vmware/avi/sdk/model/OauthSubRequestLog.java
  java/src/com/vmware/avi/sdk/model/PortalFeatureOptIn.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingInfo.java
  java/src/com/vmware/avi/sdk/model/SaasLicensingStatus.java
  java/src/com/vmware/avi/sdk/model/SeAgentProperties.java
  java/src/com/vmware/avi/sdk/model/SeBootupProperties.java
  java/src/com/vmware/avi/sdk/model/SeRuntimeProperties.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SubRequestLog.java
  java/src/com/vmware/avi/sdk/model/SwitchoverEventDetails.java
  java/src/com/vmware/avi/sdk/model/Tier1LogicalRouterInfo.java
  java/src/com/vmware/avi/sdk/model/UserAgentDBConfig.java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafCrsConfig.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BurstResource.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/CumulativeLicense.java
  java/src/com/vmware/avi/sdk/model/LicenseInfo.java
  java/src/com/vmware/avi/sdk/model/LicenseTierUsage.java
  java/src/com/vmware/avi/sdk/model/OauthLog.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/LicenseStatus.java
  java/src/com/vmware/avi/sdk/model/SeVsDelFlowsDisrupted.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BurstResource.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/CumulativeLicense.java
  java/src/com/vmware/avi/sdk/model/LicenseInfo.java
  java/src/com/vmware/avi/sdk/model/LicenseTierUsage.java
  java/src/com/vmware/avi/sdk/model/OauthLog.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/SingleLicense.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/MetricsDbSyncFailureEventDetails.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain
