Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

AV-153408: Added changes in github action for Java SDK jar release.
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Added changes in github action.
  .github/workflows/release.yml
  java/pom.xml
  python/version.py
Owners: @manojkumarjain, @chaitanyaavi, @gangaadhars

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated pom.xml and version.py
  java/pom.xml
  python/version.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Added changes in github action.
  .github/workflows/release.yml
Owners: @manojkumarjain

Added changes in github action.
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for docs
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AnalyticsProfile.json
  swagger/AnalyticsProfile.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
  swagger/VIMgrHostRuntime.json
  swagger/VIMgrHostRuntime.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AnalyticsProfile/index.html
  docs/ApplicationProfile/index.html
  docs/CloudProperties/index.html
  docs/ServiceEngineGroup/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/SystemConfiguration/index.html
  docs/VIMgrHostRuntime/index.html
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/AdminAuthConfiguration.java
  java/src/com/vmware/avi/sdk/model/ApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/CC_AgentProperties.java
  java/src/com/vmware/avi/sdk/model/ClientLogStreamingConfig.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/L4SSLApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/VcenterQuarantinedHostParams.java
  java/src/com/vmware/avi/sdk/model/WafLog.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/clients/avi_client.go
  go/clients/vimgrcontrollerruntime_client.go
  go/clients/vimgrdcruntime_client.go
  go/clients/vimgrvcenterruntime_client.go
  go/models/a_w_s_login.go
  go/models/cloud.go
  go/models/event_details.go
  go/models/event_gen_params.go
  go/models/event_log.go
  go/models/openstack_login.go
  go/models/rediscover_vcenter_param.go
  go/models/s_a_m_l_s_p_config.go
  go/models/service_engine_group.go
  go/models/v_center_configuration.go
  go/models/v_i_admin_credentials.go
  go/models/v_i_controller_vnic_info.go
  go/models/v_i_create_s_e_req.go
  go/models/v_i_fault_injection.go
  go/models/v_i_guestv_nic_ip_addr.go
  go/models/v_i_mgr_controller_runtime.go
  go/models/v_i_mgr_controller_runtime_api_response.go
  go/models/v_i_mgr_d_c_runtime.go
  go/models/v_i_mgr_d_c_runtime_api_response.go
  go/models/v_i_mgr_interested_entity.go
  go/models/v_i_mgr_vcenter_runtime.go
  go/models/v_i_mgr_vcenter_runtime_api_response.go
  go/models/v_i_retrieve_p_g_names.go
  go/models/v_i_se_vm_ip_conf_params.go
  go/models/v_i_se_vm_ova_params.go
  go/models/v_i_set_mgmt_ip_s_e_req.go
  go/models/v_i_setv_nic_nw_req.go
  go/models/v_i_vm_vnic_info.go
  go/models/v_idelete_network_filter.go
  go/models/v_idelete_s_e_req.go
  go/models/vcenter_cloud_status_req.go
  go/models/vcenter_image_details.go
  go/models/vcenter_inventory_diag_req.go
  go/models/vcenter_login.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/AWSLogin.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/EventGenParams.java
  java/src/com/vmware/avi/sdk/model/OpenstackLogin.java
  java/src/com/vmware/avi/sdk/model/RediscoverVcenterParam.java
  java/src/com/vmware/avi/sdk/model/SAMLSPConfig.java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
  java/src/com/vmware/avi/sdk/model/VIAdminCredentials.java
  java/src/com/vmware/avi/sdk/model/VIControllerVnicInfo.java
  java/src/com/vmware/avi/sdk/model/VICreateSEReq.java
  java/src/com/vmware/avi/sdk/model/VIDeleteNetworkFilter.java
  java/src/com/vmware/avi/sdk/model/VIDeleteSEReq.java
  java/src/com/vmware/avi/sdk/model/VIFaultInjection.java
  java/src/com/vmware/avi/sdk/model/VIGuestvNicIPAddr.java
  java/src/com/vmware/avi/sdk/model/VIMgrControllerRuntime.java
  java/src/com/vmware/avi/sdk/model/VIMgrControllerRuntimeApiResponse.java
  java/src/com/vmware/avi/sdk/model/VIMgrDCRuntime.java
  java/src/com/vmware/avi/sdk/model/VIMgrDCRuntimeApiResponse.java
  java/src/com/vmware/avi/sdk/model/VIMgrInterestedEntity.java
  java/src/com/vmware/avi/sdk/model/VIMgrVcenterRuntime.java
  java/src/com/vmware/avi/sdk/model/VIMgrVcenterRuntimeApiResponse.java
  java/src/com/vmware/avi/sdk/model/VIRetrievePGNames.java
  java/src/com/vmware/avi/sdk/model/VISeVmIpConfParams.java
  java/src/com/vmware/avi/sdk/model/VISeVmOvaParams.java
  java/src/com/vmware/avi/sdk/model/VISetMgmtIpSEReq.java
  java/src/com/vmware/avi/sdk/model/VISetvNicNwReq.java
  java/src/com/vmware/avi/sdk/model/VIVmVnicInfo.java
  java/src/com/vmware/avi/sdk/model/VcenterCloudStatusReq.java
  java/src/com/vmware/avi/sdk/model/VcenterImageDetails.java
  java/src/com/vmware/avi/sdk/model/VcenterInventoryDiagReq.java
  java/src/com/vmware/avi/sdk/model/VcenterLogin.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ApplicationProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/L4SSLApplicationProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/AviRestUtils.java
  java/src/com/vmware/avi/sdk/model/AdminAuthConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/admin_auth_configuration.go
  go/models/application_profile.go
  go/models/c_c_agent_properties.go
  go/models/client_log_streaming_config.go
  go/models/http_application_profile.go
  go/models/l4_s_slapplication_profile.go
  go/models/service_engine_group.go
  go/models/vcenter_quarantined_host_params.go
  go/models/waf_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/query_match.go
  go/models/waf_policy.go
  go/models/waf_policy_required_data_file.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/BotDetectionPolicy.json
  swagger/BotDetectionPolicy.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/BotDetectionPolicy/index.html
  docs/HTTPPolicySet/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/QueryMatch.java
  java/src/com/vmware/avi/sdk/model/WafPolicyRequiredDataFile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/session/avisession.go
  go/session/avisession_test.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/application_profile.go
  go/models/l4_s_slapplication_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviApi.java
Owners: @chaitanyaavi, @manojkumarjain

AV-153926: Added changes in Java SDK for config properties file.
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviApi.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/AviApi.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

AV-152818: Added readme file for NSX-T LB to ALB Migration tool
  python/avi/migrationtools/README.md
  python/avi/migrationtools/nsxt_converter/NSX-T_to_Avi_Migration_Tool_-_How_To_Guide.pdf
  python/avi/migrationtools/nsxt_converter/README.md
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
