Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Updated assets for go models and clients
  go/models/conn_pool_properties.go
  go/models/supported_migrations.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/Image/index.html
  docs/UserAccountProfile/index.html
  docs/UserActivity/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/Image/index.html
  docs/UserAccountProfile/index.html
  docs/UserActivity/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Image/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Image/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviAuthorizationInterceptor.java
  java/src/com/vmware/avi/sdk/model/ConnPoolProperties.java
  java/src/com/vmware/avi/sdk/model/SupportedMigrations.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviAuthorizationInterceptor.java
  java/src/com/vmware/avi/sdk/model/ConnPoolProperties.java
  java/src/com/vmware/avi/sdk/model/SupportedMigrations.java
Owners: @chaitanyaavi, @manojkumarjain

AV-138702 Update AVI_API_VERSION in script avi_iwaf_vpatch.py for latest version 21.1.3 (#1996)
  python/avi/migrationtools/waf/avi_iwaf_vpatch.py
Owners: @chaitanyaavi, @manojkumarjain

AV-138702 Update AVI_API_VERSION in script avi_iwaf_vpatch.py for latest version 21.1.3 (#1996)
  python/avi/migrationtools/waf/avi_iwaf_vpatch.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/UserAccountProfile.json
  swagger/UserAccountProfile.yaml
  swagger/UserActivity.json
  swagger/UserActivity.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/UserAccountProfile.json
  swagger/UserAccountProfile.yaml
  swagger/UserActivity.json
  swagger/UserActivity.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/b_o_t_limits.go
  go/models/controller_limits.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/b_o_t_limits.go
  go/models/controller_limits.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/SystemLimits/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/SystemLimits/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BOTLimits.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/BOTLimits.java
  java/src/com/vmware/avi/sdk/model/ControllerLimits.java
Owners: @chaitanyaavi, @manojkumarjain

Auto updated assets for python eng (#1997)
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Auto updated assets for python eng (#1997)
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/application_log.go
  go/models/client_finger_prints.go
  go/models/cloud.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/tls_client_info.go
  go/models/waf_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/application_log.go
  go/models/client_finger_prints.go
  go/models/cloud.go
  go/models/controller_properties.go
  go/models/http_application_profile.go
  go/models/tls_client_info.go
  go/models/waf_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ControllerProperties.json
  swagger/ControllerProperties.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/PKIProfile.json
  swagger/PKIProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudProperties.json
  swagger/CloudProperties.yaml
  swagger/ControllerProperties.json
  swagger/ControllerProperties.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/PKIProfile.json
  swagger/PKIProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/Cloud/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/DebugVirtualService/index.html
  docs/PKIProfile/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/Cloud/index.html
  docs/CloudProperties/index.html
  docs/ControllerProperties/index.html
  docs/DebugVirtualService/index.html
  docs/PKIProfile/index.html
  docs/logs.html
Owners: @manojkumarjain

Updated assets for python (#2023)
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/converter_constants.py
  python/avi/migrationtools/nsxt_converter/custom_config.yaml
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/patch.yaml
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/avi_config.json
  python/avi/migrationtools/nsxt_converter/test/config.json
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/excel_reader.py
  python/avi/migrationtools/nsxt_converter/test/test_monitor_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_monitor_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_pool_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_pool_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_profile_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test_cd.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python (#2023)
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/converter_constants.py
  python/avi/migrationtools/nsxt_converter/custom_config.yaml
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/patch.yaml
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/avi_config.json
  python/avi/migrationtools/nsxt_converter/test/config.json
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/excel_reader.py
  python/avi/migrationtools/nsxt_converter/test/test_monitor_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_monitor_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_pool_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_pool_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_profile_converter.conf
  python/avi/migrationtools/nsxt_converter/test/test_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test_cd.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/network_profile.go
  go/models/rate_limiter.go
  go/models/rate_limiter_action.go
  go/models/rate_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/network_profile.go
  go/models/rate_limiter.go
  go/models/rate_limiter_action.go
  go/models/rate_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/DnsPolicy.json
  swagger/DnsPolicy.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/VSDataScriptSet.json
  swagger/VSDataScriptSet.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/DnsPolicy.json
  swagger/DnsPolicy.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/VSDataScriptSet.json
  swagger/VSDataScriptSet.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/DnsPolicy/index.html
  docs/HTTPPolicySet/index.html
  docs/NetworkProfile/index.html
  docs/Pool/index.html
  docs/VSDataScriptSet/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/DnsPolicy/index.html
  docs/HTTPPolicySet/index.html
  docs/NetworkProfile/index.html
  docs/Pool/index.html
  docs/VSDataScriptSet/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/ClientFingerPrints.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/TlsClientInfo.java
  java/src/com/vmware/avi/sdk/model/WafLog.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/NetworkProfile.java
  java/src/com/vmware/avi/sdk/model/RateLimiter.java
  java/src/com/vmware/avi/sdk/model/RateLimiterAction.java
  java/src/com/vmware/avi/sdk/model/RateProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ApplicationLog.java
  java/src/com/vmware/avi/sdk/model/ClientFingerPrints.java
  java/src/com/vmware/avi/sdk/model/Cloud.java
  java/src/com/vmware/avi/sdk/model/ControllerProperties.java
  java/src/com/vmware/avi/sdk/model/HTTPApplicationProfile.java
  java/src/com/vmware/avi/sdk/model/TlsClientInfo.java
  java/src/com/vmware/avi/sdk/model/WafLog.java
Owners: @chaitanyaavi, @manojkumarjain
