Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

AV-157124: Fixed issue while writing excelsheet with the latest pandas version
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-157124: Fixed issue while writing excelsheet with the latest pandas version (#2439)
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
Owners: @chaitanyaavi, @manojkumarjain

AV-157124: Fixed issue while writing excelsheet with the latest pandas version (#2440)
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Fixed network service creation, paramiko ssh and lb skip warning message
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Fixed network service creation, paramiko ssh and lb skip warning message
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/alert_object_list.go
  go/models/c_c_vnic_info.go
  go/models/debug_vs_dataplane.go
  go/models/event_log.go
  go/models/health_monitor.go
  go/models/health_monitor_sctp.go
  go/models/network_profile_union.go
  go/models/o_auth_profile.go
  go/models/o_auth_v_s_config.go
  go/models/s_c_t_p_fast_path_profile.go
  go/models/s_c_t_p_proxy_profile.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/models/service_pool_selector.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/AuthProfile.json
  swagger/AuthProfile.yaml
  swagger/DebugVirtualService.json
  swagger/DebugVirtualService.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
  swagger/HealthMonitor.json
  swagger/HealthMonitor.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/AuthProfile/index.html
  docs/DebugVirtualService/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/HealthMonitor/index.html
  docs/Image/index.html
  docs/NetworkProfile/index.html
  docs/VirtualService/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/AviCredentials.java
  java/src/com/vmware/avi/sdk/model/HealthMonitor.java
  java/src/com/vmware/avi/sdk/model/HealthMonitorSctp.java
  java/src/com/vmware/avi/sdk/model/NetworkProfileUnion.java
  java/src/com/vmware/avi/sdk/model/OAuthProfile.java
  java/src/com/vmware/avi/sdk/model/OAuthVSConfig.java
  java/src/com/vmware/avi/sdk/model/SCTPFastPathProfile.java
  java/src/com/vmware/avi/sdk/model/SCTPProxyProfile.java
  java/src/com/vmware/avi/sdk/model/ServicePoolSelector.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/cloud.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/Cloud.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/analytics_profile.go
  go/models/audit_compliance_event_info.go
  go/models/c_c_vnic_info.go
  go/models/event_log.go
  go/models/must_checks_info.go
  go/models/o_auth_resource_server.go
  go/models/ops_history.go
  go/models/query_match.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/models/upgrade_ops_entry.go
  go/models/upgrade_ops_state.go
  go/models/upgrade_readiness_check_obj.go
  go/models/upgrade_status_info.go
  go/models/upgrade_status_summary.go
  go/models/uri_param_token.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AnalyticsProfile.json
  swagger/AnalyticsProfile.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/BotDetectionPolicy.json
  swagger/BotDetectionPolicy.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/UpgradeStatusInfo.json
  swagger/UpgradeStatusInfo.yaml
  swagger/UpgradeStatusSummary.json
  swagger/UpgradeStatusSummary.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationProfile/index.html
  docs/BotDetectionPolicy/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/HTTPPolicySet/index.html
  docs/Image/index.html
  docs/Pool/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/UpgradeStatusInfo/index.html
  docs/UpgradeStatusSummary/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AnalyticsProfile.java
  java/src/com/vmware/avi/sdk/model/AuditComplianceEventInfo.java
  java/src/com/vmware/avi/sdk/model/MustChecksInfo.java
  java/src/com/vmware/avi/sdk/model/OAuthResourceServer.java
  java/src/com/vmware/avi/sdk/model/OpsHistory.java
  java/src/com/vmware/avi/sdk/model/QueryMatch.java
  java/src/com/vmware/avi/sdk/model/URIParamToken.java
  java/src/com/vmware/avi/sdk/model/UpgradeOpsEntry.java
  java/src/com/vmware/avi/sdk/model/UpgradeOpsState.java
  java/src/com/vmware/avi/sdk/model/UpgradeReadinessCheckObj.java
  java/src/com/vmware/avi/sdk/model/UpgradeStatusInfo.java
  java/src/com/vmware/avi/sdk/model/UpgradeStatusSummary.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/analytics_profile.go
  go/models/audit_compliance_event_info.go
  go/models/c_c_vnic_info.go
  go/models/event_log.go
  go/models/must_checks_info.go
  go/models/o_auth_resource_server.go
  go/models/ops_history.go
  go/models/query_match.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
  go/models/upgrade_ops_entry.go
  go/models/upgrade_ops_state.go
  go/models/upgrade_readiness_check_obj.go
  go/models/upgrade_status_info.go
  go/models/upgrade_status_summary.go
  go/models/uri_param_token.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/ApplicationProfile/index.html
  docs/BotDetectionPolicy/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/HTTPPolicySet/index.html
  docs/Image/index.html
  docs/Pool/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/UpgradeStatusInfo/index.html
  docs/UpgradeStatusSummary/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

AV-155265: Updated github workflow to release java, python sdk and migration tools individually
  .github/workflows/release.yml
Owners: @manojkumarjain

AV-155265: Updated github workflow to release java, python sdk and migration tools individually
  .github/workflows/release.yml
Owners: @manojkumarjain

AV-155265: Updated github workflow to release java, python sdk and migration tools individually
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/l7limits.go
  go/models/nsxt_segment_runtime.go
  go/models/path_match.go
  go/models/query_match.go
  go/models/s_c_t_p_fast_path_profile.go
  go/models/s_c_t_p_proxy_profile.go
  go/models/sub_job.go
  go/models/v_h_match.go
  go/models/v_h_match_rule.go
  go/models/virtual_service.go
  go/models/waf_policy.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ApplicationProfile.json
  swagger/ApplicationProfile.yaml
  swagger/BotDetectionPolicy.json
  swagger/BotDetectionPolicy.yaml
  swagger/BotMapping.json
  swagger/BotMapping.yaml
  swagger/HTTPPolicySet.json
  swagger/HTTPPolicySet.yaml
  swagger/JobEntry.json
  swagger/JobEntry.yaml
  swagger/NetworkProfile.json
  swagger/NetworkProfile.yaml
  swagger/NsxtSegmentRuntime.json
  swagger/NsxtSegmentRuntime.yaml
  swagger/SSOPolicy.json
  swagger/SSOPolicy.yaml
  swagger/SystemLimits.json
  swagger/SystemLimits.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
  swagger/WafPolicyPSMGroup.json
  swagger/WafPolicyPSMGroup.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/ApplicationProfile/index.html
  docs/BotDetectionPolicy/index.html
  docs/BotMapping/index.html
  docs/HTTPPolicySet/index.html
  docs/JobEntry/index.html
  docs/NetworkProfile/index.html
  docs/NsxtSegmentRuntime/index.html
  docs/SSOPolicy/index.html
  docs/SystemLimits/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
  docs/WafPolicyPSMGroup/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/L7limits.java
  java/src/com/vmware/avi/sdk/model/NsxtSegmentRuntime.java
  java/src/com/vmware/avi/sdk/model/PathMatch.java
  java/src/com/vmware/avi/sdk/model/QueryMatch.java
  java/src/com/vmware/avi/sdk/model/SCTPFastPathProfile.java
  java/src/com/vmware/avi/sdk/model/SCTPProxyProfile.java
  java/src/com/vmware/avi/sdk/model/VHMatch.java
  java/src/com/vmware/avi/sdk/model/VHMatchRule.java
  java/src/com/vmware/avi/sdk/model/VirtualService.java
  java/src/com/vmware/avi/sdk/model/WafPolicy.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

AV-158938: Bump jackson-databind version from 2.12.7 to 2.13.4.1 in Java SDK.
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

AV-155265: Updated github workflow to release java, python sdk and migration tools individually
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
