Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated root sdk files
  go.mod
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbService.json
  swagger/GslbService.yaml
  swagger/SSLKeyAndCertificate.json
  swagger/SSLKeyAndCertificate.yaml
  swagger/SSLProfile.json
  swagger/SSLProfile.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/UpgradeStatusInfo.json
  swagger/UpgradeStatusInfo.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/GslbInventory/index.html
  docs/GslbService/index.html
  docs/SSLKeyAndCertificate/index.html
  docs/SSLProfile/index.html
  docs/UpgradeStatusInfo/index.html
Owners: @manojkumarjain

Updated assets for java
  java/pom.xml
  java/src/com/vmware/avi/sdk/model/GslbService.java
  java/src/com/vmware/avi/sdk/model/GslbSiteRuntimeStats.java
  java/src/com/vmware/avi/sdk/model/SSLKeyAndCertificate.java
  java/src/com/vmware/avi/sdk/model/SSLProfile.java
  java/src/com/vmware/avi/sdk/model/UpgradeReadinessCheckObj.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/AlertObjectList.json
  swagger/AlertObjectList.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngine.json
  swagger/ServiceEngine.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/AlertObjectList/index.html
  docs/ServiceEngine/index.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go.mod
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/app_signature_config.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/Pool.json
  swagger/Pool.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

AV-159320: Added 2nd and 3rd phase scripts to pip package setup.py, Renamed scripts with nsxt prefix, Fixed persistence converter datascript issue
  python/avi/migrationtools/nsxt_converter/nsxt_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_rollback.py
  python/avi/migrationtools/nsxt_converter/nsxt_traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

AV-159320: Added 2nd and 3rd phase scripts to pip package setup.py, (#2491)
  python/avi/migrationtools/nsxt_converter/nsxt_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_rollback.py
  python/avi/migrationtools/nsxt_converter/nsxt_traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

AV-155265: Updated github workflow to release java, python sdk and migration tools individually
  .github/workflows/release.yml
  python/avi/migrationtools/setup.py
Owners: @manojkumarjain, @chaitanyaavi

Updated assets for swagger
  swagger/ALBServicesConfig.json
  swagger/ALBServicesConfig.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesConfig/index.html
  docs/Alert/index.html
  docs/SystemConfiguration/index.html
Owners: @manojkumarjain

AV-159765: Synced changes from alb-sdk eng to alb-sdk 22.1.2
  .github/workflows/release.yml
  python/avi/migrationtools/nsxt_converter/nsxt_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_rollback.py
  python/avi/migrationtools/nsxt_converter/nsxt_traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/setup.py
Owners: @manojkumarjain, @chaitanyaavi

AV-159765: Synced changes from alb-sdk eng to alb-sdk 22.1.2 (#2497)
  .github/workflows/release.yml
  python/avi/migrationtools/nsxt_converter/nsxt_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_rollback.py
  python/avi/migrationtools/nsxt_converter/nsxt_traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/setup.py
Owners: @manojkumarjain, @chaitanyaavi

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbService.json
  swagger/GslbService.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/UpgradeStatusInfo.json
  swagger/UpgradeStatusInfo.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/GslbInventory/index.html
  docs/GslbService/index.html
  docs/GslbServiceInventory/index.html
  docs/Image/index.html
  docs/UpgradeStatusInfo/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/AppSignatureConfig.java
  java/src/com/vmware/avi/sdk/model/SpGslbServiceInfo.java
  java/src/com/vmware/avi/sdk/model/SystemConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/GslbPool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ControllerInterface.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/c_c_vnic_info.go
  go/models/gslb_pool.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/app_signature_config.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/system_configuration.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/gslb_service.go
  go/models/gslb_site_runtime_stats.go
  go/models/s_s_l_key_and_certificate.go
  go/models/s_s_l_profile.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/upgrade_readiness_check_obj.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/pool.go
  go/models/sp_gslb_service_info.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/alert_object_list.go
  go/models/controller_interface.go
  go/models/event_log.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/event_details.go
  go/models/event_log.go
  go/models/se_hm_event_gslb_pool_member_details.go
  go/models/se_hm_event_server_details.go
  go/models/v_center_configuration.go
  go/models/v_i_mgr_n_w_runtime.go
  go/models/vcenter_datastore.go
  go/models/vcenter_tag_event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertConfig.json
  swagger/AlertConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CloudInventory.json
  swagger/CloudInventory.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/VIMgrNWRuntime.json
  swagger/VIMgrNWRuntime.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/AlertConfig/index.html
  docs/Cloud/index.html
  docs/CloudInventory/index.html
  docs/NetworkInventory/index.html
  docs/ServiceEngineGroup/index.html
  docs/ServiceEngineGroupInventory/index.html
  docs/VIMgrNWRuntime/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/EventDetails.java
  java/src/com/vmware/avi/sdk/model/VIMgrNWRuntime.java
  java/src/com/vmware/avi/sdk/model/VcenterDatastore.java
  java/src/com/vmware/avi/sdk/model/VcenterTagEventDetails.java
  java/src/com/vmware/avi/sdk/model/vCenterConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
