Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain

Remove travis from alb-sdk (#1531)
  .travis.yml
Owners: @manojkumarjain

Remove travis from alb-sdk (#1531)
  .travis.yml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/custom_ip_a_m_dns_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/connection_event_details.go
  go/models/event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/custom_ip_a_m_dns_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/connection_event_details.go
  go/models/event_details.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CustomIpamDnsProfile.json
  swagger/CustomIpamDnsProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/CustomIpamDnsProfile.json
  swagger/CustomIpamDnsProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/CustomIpamDnsProfile/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/CustomIpamDnsProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/CustomIpamDnsProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/CustomIpamDnsProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/waf_config.go
  go/models/waf_content_type_mapping.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/waf_config.go
  go/models/waf_content_type_mapping.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for docs
  docs/WafProfile/index.html
Owners: @manojkumarjain

Updated assets for docs
  docs/WafProfile/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafContentTypeMapping.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/WafConfig.java
  java/src/com/vmware/avi/sdk/model/WafContentTypeMapping.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/WafProfile.json
  swagger/WafProfile.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/avi_global_spec.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/cloud.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for go models and clients
  go/models/cloud.go
Owners: @mayank-avinetworks, @manojkumarjain
