Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertEmailConfig.json
  swagger/AlertEmailConfig.yaml
  swagger/AlertSyslogConfig.json
  swagger/AlertSyslogConfig.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
  swagger/SnmpTrapProfile.json
  swagger/SnmpTrapProfile.yaml
  swagger/VIMgrHostRuntime.json
  swagger/VIMgrHostRuntime.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/AlertEmailConfig/index.html
  docs/AlertSyslogConfig/index.html
  docs/SnmpTrapProfile/index.html
  docs/VIMgrHostRuntime/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/metrics_query.html
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/vserver_l4_metrics_obj.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertEmailConfig.json
  swagger/AlertEmailConfig.yaml
  swagger/AlertSyslogConfig.json
  swagger/AlertSyslogConfig.yaml
  swagger/SnmpTrapProfile.json
  swagger/SnmpTrapProfile.yaml
  swagger/VIMgrHostRuntime.json
  swagger/VIMgrHostRuntime.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/AlertEmailConfig/index.html
  docs/AlertSyslogConfig/index.html
  docs/SnmpTrapProfile/index.html
  docs/VIMgrHostRuntime/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/s_s_l_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/SSLProfile.json
  swagger/SSLProfile.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/SSLProfile/index.html
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/s_s_l_profile.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/AlertEmailConfig.json
  swagger/AlertEmailConfig.yaml
  swagger/AlertSyslogConfig.json
  swagger/AlertSyslogConfig.yaml
  swagger/SSLProfile.json
  swagger/SSLProfile.yaml
  swagger/SnmpTrapProfile.json
  swagger/SnmpTrapProfile.yaml
  swagger/VIMgrHostRuntime.json
  swagger/VIMgrHostRuntime.yaml
  swagger/VirtualService.json
  swagger/VirtualService.yaml
  swagger/WafPolicy.json
  swagger/WafPolicy.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/AlertEmailConfig/index.html
  docs/AlertSyslogConfig/index.html
  docs/SSLProfile/index.html
  docs/SnmpTrapProfile/index.html
  docs/VIMgrHostRuntime/index.html
  docs/VirtualService/index.html
  docs/WafPolicy/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SSLProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Synced all code of nsxt_converter from latest avi-dev eng to alb-sdk 22.1.1 branch
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/__init__.py
  python/avi/migrationtools/nsxt_converter/test/config.yaml
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
  python/avi/migrationtools/nsxt_converter/test/utils/ansible.yml
  python/avi/migrationtools/nsxt_converter/test/utils/constants.py
  python/avi/migrationtools/nsxt_converter/test/utils/inventory
  python/avi/migrationtools/nsxt_converter/test/utils/utils.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Synced all code of nsxt_converter from latest avi-dev eng to alb-sdk 22.1.1 branch (#2267)
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/__init__.py
  python/avi/migrationtools/nsxt_converter/test/config.yaml
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
  python/avi/migrationtools/nsxt_converter/test/utils/ansible.yml
  python/avi/migrationtools/nsxt_converter/test/utils/constants.py
  python/avi/migrationtools/nsxt_converter/test/utils/inventory
  python/avi/migrationtools/nsxt_converter/test/utils/utils.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for go models and clients
  go/models/vserver_l4_metrics_obj.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Alert/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/VserverL4MetricsObj.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/VserverL4MetricsObj.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/SSLProfile.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/open_stack_configuration.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
Owners: @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
