Repository vmware/alb-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @manojkumarjain, @gangaadhars, @chaitanyaavi, @sabandi, @mayank-avinetworks

AV-152148: Added changes in Java SDK to update AVI controller password.
  java/resources/config.properties
  java/src/com/vmware/avi/sdk/AviApi.java
Owners: @chaitanyaavi, @manojkumarjain

AV-152148: Added changes in Java SDK to update AVI controller password. (#2314)
  java/resources/config.properties
  java/src/com/vmware/avi/sdk/AviApi.java
Owners: @chaitanyaavi, @manojkumarjain

Added error handling for executing nsx dependancy script
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/open_stack_configuration.go
  go/models/pool.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/Pool.json
  swagger/Pool.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for docs
  docs/Cloud/index.html
  docs/Pool/index.html
Owners: @manojkumarjain

Updated assets for java
  java/resources/config.properties
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/model/OpenStackConfiguration.java
  java/src/com/vmware/avi/sdk/model/Pool.java
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/c_c_vnic_info.go
  go/models/open_stack_configuration.go
  go/models/server_auto_scale_failed_info.go
  go/models/server_auto_scale_in_complete_info.go
  go/models/server_auto_scale_in_info.go
  go/models/server_auto_scale_out_complete_info.go
  go/models/server_auto_scale_out_info.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/ALBServicesFileUpload.json
  swagger/ALBServicesFileUpload.yaml
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/GslbInventory.json
  swagger/GslbInventory.yaml
  swagger/GslbServiceInventory.json
  swagger/GslbServiceInventory.yaml
  swagger/Image.json
  swagger/Image.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/test/__init__.py
  python/avi/migrationtools/nsxt_converter/test/config.yaml
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/test/common/excel_reader.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
  python/avi/migrationtools/nsxt_converter/test/utils/ansible.yml
  python/avi/migrationtools/nsxt_converter/test/utils/constants.py
  python/avi/migrationtools/nsxt_converter/test/utils/inventory
  python/avi/migrationtools/nsxt_converter/test/utils/utils.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/sdk/samples/custom_dns_script_infoblox.py
Owners: @chaitanyaavi, @manojkumarjain, @gangaadhars

Updated assets for python
  python/avi/migrationtools/f5_converter/f5_converter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/avi_orphan_object.py
  python/avi/migrationtools/config_patch.py
  python/avi/migrationtools/f5_converter/command_status.yaml
  python/avi/migrationtools/f5_converter/conversion_util.py
  python/avi/migrationtools/f5_converter/monitor_converter.py
  python/avi/migrationtools/f5_converter/test/patch.yaml
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/ALBServicesFileUpload/index.html
  docs/Alert/index.html
  docs/Cloud/index.html
  docs/GslbInventory/index.html
  docs/GslbServiceInventory/index.html
  docs/Image/index.html
Owners: @manojkumarjain

Updated assets for java
  java/resources/config.properties
  java/src/com/vmware/avi/sdk/AviApi.java
  java/src/com/vmware/avi/sdk/model/OpenStackConfiguration.java
Owners: @chaitanyaavi, @manojkumarjain

Added error handling for executing nsx dependancy script (#2315)
  python/avi/migrationtools/lib/__init__.py
  python/avi/migrationtools/lib/nsx_policy_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/nsx_python_sdk-4.0.0.1.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_common_client-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/lib/vapi_runtime-2.29.0-py2.py3-none-any.whl
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/install_nsx_dependencies.py
  python/avi/migrationtools/setup.py
Owners: @chaitanyaavi, @manojkumarjain

Update version.py
  python/version.py
Owners: @gangaadhars, @chaitanyaavi, @manojkumarjain

Update release.yml
  .github/workflows/release.yml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroup.json
  swagger/ServiceEngineGroup.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Updated assets for python
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/__init__.py
  python/avi/migrationtools/nsxt_converter/test/config.yaml
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
  python/avi/migrationtools/nsxt_converter/test/utils/ansible.yml
  python/avi/migrationtools/nsxt_converter/test/utils/constants.py
  python/avi/migrationtools/nsxt_converter/test/utils/inventory
  python/avi/migrationtools/nsxt_converter/test/utils/utils.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/test/common/excel_reader.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for python
  python/avi/migrationtools/test/common/test_clean_reboot.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for docs
  docs/ServiceEngineGroup/index.html
  docs/ServiceEngineGroupInventory/index.html
Owners: @manojkumarjain

Updated assets for java
  java/src/com/vmware/avi/sdk/model/ServiceEngineGroup.java
Owners: @chaitanyaavi, @manojkumarjain

Auto updated assets for python 22.1.2 (#2284)
  python/avi/migrationtools/avi_converter.py
  python/avi/migrationtools/avi_migration_utils.py
  python/avi/migrationtools/f5_converter/f5_converter.py
  python/avi/migrationtools/nsxt_converter/__init__.py
  python/avi/migrationtools/nsxt_converter/alb_converter.py
  python/avi/migrationtools/nsxt_converter/base_client.py
  python/avi/migrationtools/nsxt_converter/cleanup.py
  python/avi/migrationtools/nsxt_converter/command_status.yaml
  python/avi/migrationtools/nsxt_converter/conversion_util.py
  python/avi/migrationtools/nsxt_converter/get_certificates.py
  python/avi/migrationtools/nsxt_converter/monitor_converter.py
  python/avi/migrationtools/nsxt_converter/nsx_cleanup.py
  python/avi/migrationtools/nsxt_converter/nsxt_client.py
  python/avi/migrationtools/nsxt_converter/nsxt_config_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_converter.py
  python/avi/migrationtools/nsxt_converter/nsxt_util.py
  python/avi/migrationtools/nsxt_converter/persistant_converter.py
  python/avi/migrationtools/nsxt_converter/policy_converter.py
  python/avi/migrationtools/nsxt_converter/pools_converter.py
  python/avi/migrationtools/nsxt_converter/profile_converter.py
  python/avi/migrationtools/nsxt_converter/rollback.py
  python/avi/migrationtools/nsxt_converter/ssl_profile_converter.py
  python/avi/migrationtools/nsxt_converter/test/__init__.py
  python/avi/migrationtools/nsxt_converter/test/config.yaml
  python/avi/migrationtools/nsxt_converter/test/conftest.py
  python/avi/migrationtools/nsxt_converter/test/default_params.json
  python/avi/migrationtools/nsxt_converter/test/patch.yaml
  python/avi/migrationtools/nsxt_converter/test/test_migrationtool.py
  python/avi/migrationtools/nsxt_converter/test/test_nsxt_functional.py
  python/avi/migrationtools/nsxt_converter/test/utils/ansible.yml
  python/avi/migrationtools/nsxt_converter/test/utils/constants.py
  python/avi/migrationtools/nsxt_converter/test/utils/inventory
  python/avi/migrationtools/nsxt_converter/test/utils/utils.py
  python/avi/migrationtools/nsxt_converter/traffic_cutover.py
  python/avi/migrationtools/nsxt_converter/v_client.py
  python/avi/migrationtools/nsxt_converter/vs_converter.py
  python/avi/migrationtools/setup.py
  python/avi/migrationtools/test/common/excel_reader.py
  python/avi/migrationtools/test/common/test_clean_reboot.py
  python/avi/migrationtools/vs_filter.py
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/service_engine_group.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/NetworkInventory.json
  swagger/NetworkInventory.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

Update pom.xml
  java/pom.xml
Owners: @chaitanyaavi, @manojkumarjain

Updated assets for go models and clients
  go/models/admin_auth_configuration.go
Owners: @mayank-avinetworks, @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/SystemConfiguration.json
  swagger/SystemConfiguration.yaml
Owners: @manojkumarjain

Updated assets for swagger
  swagger/Alert.json
  swagger/Alert.yaml
  swagger/Cloud.json
  swagger/Cloud.yaml
  swagger/ServiceEngineGroupInventory.json
  swagger/ServiceEngineGroupInventory.yaml
Owners: @manojkumarjain

AV-153408: Added changes in github action for Java SDK jar release.
  .github/workflows/release.yml
Owners: @manojkumarjain

AV-153408: Added changes in github action for Java SDK jar release.
  .github/workflows/release.yml
Owners: @manojkumarjain

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*    @manojkumarjain

# Each line is a file pattern followed by one or more owners.
/python @gangaadhars @chaitanyaavi @manojkumarjain
/python/avi/migrationtools @chaitanyaavi @manojkumarjain
/python/avi/sdk/utils/ansible_utils.py @sabandi @manojkumarjain
/go @mayank-avinetworks @manojkumarjain
/java @chaitanyaavi @manojkumarjain
